* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0f0f0f;color:black;overflow-x:hidden; ;
}

/* NAVBAR */
header {
    background: #111;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 26px;
}
.logo span {
    color: #00aaff;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #00aaff;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url("background\ photo.jpg")
                center/cover;
    display: flex;
    justify-content:left center;
    align-items: center;
    text-align: center;
}

.hero-text h1 {
    color: #fff;
    font-size: 50px;
    text-align:right ;
    justify-content: right;
    display: flex;
    justify-content: flex-end;
}

.hero-text span {
    color: #00aaff;
}

.hero-text p {
    color: #ddd;
    margin: 10px 0;
}
.hero-image{
    width:250px;
    border-radius:20%;
    border:4px solid #00eaff;
    box-shadow:0 0 25px #00eaff;
    justify-content: left;
    float: right;
    animation:float 3s infinite ease-in-out;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 25px;
    background: #00aaff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* ABOUT */
.about, .skills, .projects, .contact {
    padding: 60px 80px;
    background: white;
    margin: 40px auto;
    max-width: 1100px;
    border-radius: 12px;
}

.about h2, .skills h2, .projects h2, .contact h2 {
    margin-bottom: 20px;
    color: #00aaff;
}

/* SKILLS */
.skill-box p {
    margin: 10px 0;
}

/* PROJECTS */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background: #eef;
    padding: 20px;
    border-radius: 10px;
}

.project-card h3 {
    color: #0077cc;
}

/* CONTACT */
.contact p {
    font-size: 18px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: #fff;
    margin-top: 30px;
}
.image{
    border: 3px solid ;
    

}